# Compiled Object files
*.slo
*.lo
*.o
#*.exe

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# visual studio related
*.opensdf
*.sdf
*.suo
*.ipch
*.user
*.psess
*.vsp
*.vsps
*.vspx

# misc
*.bak
*.asv
*.mexw32
*.mexw64
*.mat

# project specific
intermediate/
bin/
data/
thirdparty/matlab/
matlab/workspace/
ZGeom/lib/
ZGeometry/GeneratedFiles/
ZGeometry/models/
ZGeometry/output/
ZGeometry/cache/
ZGeometry/doc/recycle/
ZGeometry/meshfiles.cfg
ZGeometry/meshfiles_debug.cfg
TestZGeom/bin/
