# Compiled Object files
*.slo
*.lo
*.o
#*.exe

# Compiled Dynamic libraries
*.so
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# visual studio related
*.opensdf
*.sdf
*.suo
*.ipch
*.user
*.psess
*.vsp
*.vsps
*.vspx

# misc
*.bak
*.asv
*.mexw32
*.mexw64

# project specific
bin/
data/
lib/
thirdparty/
intermediate/
ZGeom/lib/
ZGeometry/GeneratedFiles/
ZGeometry/models/
ZGeometry/output/
ZGeometry/cache/
ZGeometry/meshfiles.cfg
ZGeometry/meshfiles_debug.cfg
TestZGeom/bin/
