# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
q
# visual studio related
*.opensdf
*.sdf
*.suo
*.ipch
*.user

# project specific
bin/
data/
ManifoldWavelets/immediate/
ManifoldWavelets/GeneratedFiles/
ManifoldWavelets/output/

# misc
*.bak
