#./models/centaur0.obj
#./models/centaur1.obj
#./models/centaur1_partial.obj
#./models/crane_1.obj
#./models/crane_40.obj
#./models/march1_1_partial.obj
#./models/march1_1.obj
#./models/march1_11.obj
#../../Data/obj/dog0.obj
#../../Data/obj/dog1.obj
./models/horse0.obj
#./models/horse4.obj
#../../Data/shrec/2010/0001.null.0.off
#../../Data/shrec/2010/0001.noise.1.off
#../../Data/obj/wolf0.obj
#../../Data/obj/wolf1.obj
#../../Data/torus/torus.obj
../../Data/eight.obj
../../Data/eight_copy.obj
#../../Data/cow1.obj
#../../Data/epcot.obj
#../../Data/epcot_copy.obj
#../../Data/plane_1k.obj
#../../Data/plane_1k_copy.obj
#../../Data/plane_4k.obj
#../../Data/plane_4k_copy.obj
#../../Data/box_6k.obj
#../../Data/box_6k_copy.obj
#../../Data/fandisk.obj
#../../Data/fandisk_copy.obj
#../../Data/models/horse-poses/horse0.obj
#../../Data/models/horse-poses/horse4.obj
#../../Data/MIT/crane/crane_1.obj
#../../Data/MIT/crane/crane_40.obj
#../../Data/obj/centaur0.obj
#../../Data/obj/centaur1.obj
../../Data/models/cat-poses/cat-02.obj
../../Data/models/cat-poses/cat-03.obj
#../../Data/models/horse-poses/horse9.obj
#../../Data/classic/gargo50k.ply
#../../Data/classic/675_lion_fine_quads_1.obj