./models/horse0.obj
./models/horse4.obj
#./models/march1_1.obj
#./models/march1_1_partial.obj
#../../Data/shrec/2010/0001.null.0.off
#../../Data/shrec/2010/0001.noise.1.off
#../../Data/obj/wolf0.obj
#../../Data/obj/wolf1.obj
#../../Data/plane_1k.obj
#../../Data/plane_1k_copy.obj
#../../Data/plane_200.obj
#../../Data/eight.obj
#../../Data/eight_copy.obj
#../../Data/cow1.obj
#../../Data/models/cat-poses/cat-02.obj
#../../Data/models/cat-poses/cat-03.obj
#../../Data/classic/gargo50k.ply
#../../Data/classic/675_lion_fine_quads_1.obj